/* Apply your own styling here */
/* Example: Set the height of welcome-section to viewport height */


/* Example: Sticky navbar at the top */

body {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}

body {
   border: 0px;
   padding: 0;
}
#navbar {
    position: sticky;
    top: 0;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.5px #000;
    transition: border-bottom 0.3s ease;
    
}

a {
    text-decoration: none;
    color: inherit;
    margin: 10px;
    
    
    
}

#welcome-section {
    height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to top, black, white);
}

.left-column, .right-column {
    flex: 1;
}

.right-column img {
    max-width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 50%;
}

/* Example: Style project tiles */
.project-tile {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    /* Add other styles as needed */
}


/* Apply your own styling here */
#contact-section {
    
}

#social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#social-links li {
    margin-right: 20px; /* Add spacing between items */
}

.social-icon {
    width: 24px; /* Adjust icon size */
    height: 24px;
    margin-right: 5px; /* Add spacing between icon and text */
}
