/* General styling*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: #000;
  backdrop-filter: blur(8px);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

li a {
  position: relative;
  color: white;
  font-weight: 300;
}

li a::before {
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(142, 123, 145),rgb(144, 211, 243));
}

li a:hover::before {
  width: 100%;
}
.visit-btn {
  padding: 0.8rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(142, 123, 145),rgb(144, 211, 243))
}

.visit-btn:hover {
  background: linear-gradient(to right, rgb(144, 211, 243),rgb(142, 123, 145));
  transform: scale(1.1);
}
#menu-icon{
  font-size: 2rem;
  display: none;
}
/* section */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/*  profile */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}
.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Icons */

.social-icon {
  cursor: pointer;
  height: 2rem;
}

/* buttons */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53,53,53) 0.1rem solid;
}

.btn-color-1,
.btn-color-2:hover {
  cursor: pointer;
  background: rgb(53,53,53);
  color: white;
}
.btn-color-1:hover {
  background-color: #000;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) o.1rem solid;
}

.btn-container {
  gap: 1rem;
  margin-top: 1rem;
}

/* Experience section */

.section-title  {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.experience-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.experience img{
  width: 24vw;
  border-radius: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}

.grid-card {
  border: 2px solid black;
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.grid-card:hover {
  transform: scale(1.02);
  background-color: #000;
  color: white;
}

.grid-card i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.grid-card span {
  font-size: 1.5rem;
  font-weight: 500;
  background: linear-gradient(to right, rgb(144, 211, 243),rgb(142, 123, 145));
  background-clip: text;
  color: transparent;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: rgb(137, 139, 140);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(144, 211, 243),rgb(142, 123, 145));
}